@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300;400;700&display=swap');
/*

Tekko
    weight:
    300 - light
    400 - normal
    700 - bold

*/

:root{
    --letraEnunciados: 'Bebas Neue', cursive;
    --letraTextos: 'Teko', sans-serif;
    --color-azul-primario : #2174d4;

}

*{
    font-family: var(--letraTextos);    
    color: #fff;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/Fondo-principal.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

/* Barra superior (HEADER) - Seccion Incio */
.titulo{
    font-weight: 700;
    font-size: 35px;
}

.titulo span{
    color: var(--color-azul-primario);
    font-size: 30px;
}

.menu a{
    font-size: 23px;
    font-weight: 400;
    transition: all .3s;
}

.menu a:hover{
    color: var(--color-azul-primario);
}

/* Frase - Seccion Incio */
.frase{
    margin-top: 35vh;
    margin-left: 9%;
}

.frase span{
    font-family: var(--letraEnunciados);
    color: var(--color-azul-primario);
    top: -70px;
    font-size: 95px;
    left: .8em;
    z-index: -1;
    letter-spacing: 20px;
}

.text p{
    font-family: var(--letraEnunciados);
    font-size: 27px;
}

/* Redes social - Seccion Incio */
.enlaces a{
    margin: 1.8em 0;
}

.enlaces a i{
    color: var(--color-azul-primario);
    font-size: 35px;
}
.enlaces a:hover{
    filter: blur(5);
}

.enlaces li i:hover{
    transform: scale(1.2);
    text-shadow: 3px 2px 5px white;
}

/* Section de Instalaciones */

#section-instalaciones h2{
    font-size: 45px;
}
.texto-mapa h3{
    font-size: 27px;
    font-weight: 400;
}

.texto-mapa p{
    font-size: 23px;
    font-weight: 300;
}

/* Section de Servicios */

#section-servicios h2{
    font-size: 45px;
}

.card-simples{
    height: 300px;
}

.servicios-texto h3{
    font-size: 2.2em;
    color: var(--color-azul-primario);
}

.servicios-texto p{
    font-size: 1.6em;
    font-weight: 300;
}

.servicios-texto p span{
    font-size: 1em;
    font-weight: 400;
}

.card-premium{
    background-color: rgba(0, 0, 0, 0.664);
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    height: 505px;
    box-shadow: 5px 10px 5px rgb(24, 24, 24);
}

.text-card h3{
    margin: 20px 0 5px 25px;
}

.text-card p{
    font-weight: 300;
}

.text-card button{
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    color: var(--color-azul-primario);
    transition: all .5s ease;
}

.text-card button:hover{
    text-decoration: underline 2px var(--color-azul-primario);
}

.card{
    width: 18rem;
    color: #000;
    border: none;
    box-shadow: 5px 12px 5px rgba(126, 126, 126, 0.658);
}

.card:hover{
    transform: scale(1.06);
}

.card h5{
    font-size: 1.6em;
}
.card p{
    color: #000;
    font-weight: 300;
    font-size: 1.2em;
}

.card-text{
    text-align: left;
}


.card a{
    background-color: var(--color-azul-primario);
    color: #fff;
}

.card a:hover{
    transform: scale(1.1);
    background-color: var(--color-azul-primario);
    color: #fff;
    text-decoration: underline;
}



/* Estilos  de interaccion */

.link-activo{
    color: var(--color-azul-primario);
}

.page{
    display: none;
    visibility: hidden;
}

.page-activa{
    display: block;
    visibility: visible;
}